
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
  background-image: url('map.jpg');
 
  }



h1 {
  font-size: 3em;
  margin: 0.25em 0;
  color: rgb(210, 7, 47);
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

table {
   border-spacing: 0px;

}

td {
  border-top: 1px solid palevioletred;
 }

.th2 {

  font-weight: bold;
  color: rgb(16, 168, 16);

}

.transparent-bg{
	background: rgba(247, 243, 247, 0.73);
  padding: 20px;
  text-align: center;
  font-size: 23px;
    
}

h11 {
  font-weight: bold;
  color: darkblue;

}

